/*

1C style (c) andrewks <andrewks777@yahoo.de>

*/

pre._1c7, pre._1c8 {
  font-family: Courier New;
  color: #0000ff;
  background: #ffffff
}

pre._1c7 .comment, pre._1c8 .comment {
  font-weight: normal;
  font-style: normal;
  color: #008000;
}

pre._1c7 .keyword, pre._1c8 .keyword {
  font-weight: normal;
  font-style: normal;
  color: #ff0000;
}

pre._1c7 .operator, pre._1c8 .operator {
  font-weight: normal;
  font-style: normal;
  color: #ff0000;
}

pre._1c7 .built_in {
  color: #ff0000;
}

pre._1c7 .number, pre._1c8 .number {
  color: #000000;
}

pre._1c7 .string, pre._1c8 .string {
  color: #000000;
}

pre._1c7 .date, pre._1c8 .date {
  color: #000000;
}

pre._1c7 .goto-label, pre._1c8 .goto-label {
  color: #000000;
}

pre._1c7 .preprocessor, pre._1c8 .preprocessor {
  font-weight: normal;
  font-style: normal;
}

pre._1c7 .preprocessor {
  color: #000000;
}

pre._1c8 .preprocessor {
  color: #963200;
}

pre._1c8_query {
  font-family: Courier New;
  color: #000000;
  background: #ffffff
}

pre._1c8_query .comment {
  font-weight: normal;
  font-style: normal;
  color: #008000;
}

pre._1c8_query .keyword {
  font-weight: normal;
  font-style: normal;
  color: #0000ff;
}

pre._1c8_query .built_in {
  font-weight: normal;
  font-style: normal;
  color: #800000;
}

pre._1c8_query .number {
  color: #ff00ff;
}

pre._1c8_query .string {
  color: #ff0000;
}

pre._1c8_query .param {
  color: #008080;
}

pre._1c8_query .operator1 {
  color: #0000ff;
}

pre._1c8_query .operator2 {
  color: #ff0000;
}
